* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

:root {
    --primary-color: blue;
    --secondary-color: rgba(11, 146, 139, 60%); 
    --accent-color: rgba(0, 83, 88, 100%);
    --wrong-answer: red;
    --correct-answer: green;
}

body {
    background: var(--primary-color);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    flex: 1 1 100%;
    text-align: center;
}

#countdown {
    background: black;
    color: white;
    border-radius: 3px;
    display: inline;
    padding: 5px;
}

main {
    flex: 1 1 100%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1 1 100%;
    text-align: center;
    width: 80%;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 15px;
    padding: 10px 5%;
    box-shadow: 0 0 8px 2px;    
}

.answerList {
    display: grid;
    justify-self: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.scoreContainer {
    margin: 0 25vw;
    padding: 0;
    background-color: burlywood;
}

#name {
    border-radius: 3px;
}

.btn {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.btn:hover {
    background-color: var(--accent-color);
    color: black;
}

.btn.correct {
    background-color: var(--correct-answer);
    color: black;
}

.btn.wrong {
    background-color: var(--wrong-answer);
    color: black;
}

.startButton, .nextButton {
    background-color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.hidden {
    display: none;
}